<h3>Add image</h3>
<form action="/submit" method="POST">
  <input type="text" name="image[name]" value="Enter Image Name" />
  <input type="text" name="image[url]" value="Enter Image Url" />
  <input type="submit" value="Submit" />
</form>
