<table class="table table-bordered table-striped">
  <tr><td>meme</td><td>funny count</td><td>stupid count</td><tr>
      <% settings.memes.sort.each do |meme| %>
  <tr>
    <td>
      <img src="<%= meme.url %>"/>
    </td>
    <td>
      <%=meme.funny_count%>
    </td>
    <td>
      <%=meme.stupid_count%>
    </td>
  </tr>
<% end %>
</table>
